[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = git://github.com/rking/ag.vim
[submodule "/home/leoq/.vim/bundle/colors"]
	path = /home/leoq/.vim/bundle/colors
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "/home/leoq/.vim/bundle/vim-colors-solarized"]
	path = /home/leoq/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
